body{
  background-color:#2b2b2b;
  min-height: 100vh;
  
}
::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #560101; /* color of the scroll handle */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  background: #56010179; /* color of the track */
    border-radius: 10px;
}